<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" ng-click="$state.go('^')">返回</button>
    <h1 class="pull-left m0">用户详情</h1>
</div>

<table class="table table-striped border-less m0">
    <tr>
        <td class="text-right col-sm-3">名称：</td>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <td class="text-right col-sm-3">工号：</td>
        <td>{{user.jobNo}}</td>
    </tr>
    <tr>
        <td class="text-right col-sm-3">角色：</td>
        <td>{{user.role | role}}
            {{user.superAdmin?'(超级)':''}}
        </td>
    </tr>
    <tr>
        <td class="text-right col-sm-3">锁定<sup class="btn-info" href="" tooltip-placement="right" tooltip="锁定则不能登录!">?</sup>：</td>
        <td>{{user.locked | lock}}</td>
    </tr>
    <tr>
        <td class="text-right col-sm-3">最后访问IP：</td>
        <td>{{user.lastIp}}</td>
    </tr>
    <tr>
        <td class="text-right col-sm-3">最后访问时间：</td>
        <td>{{user.lastVisit | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    </tr>
    <tr ng-if="user.jobNo">
        <td class="text-right col-sm-3">权限：</td>
        <td>
            <permission job-no="{{user.jobNo}}"></permission>
        </td>
    </tr>
</table>

