<form class="form-horizontal mtb15" name="varForm" novalidate>
    <div class="form-group">
        <label class="col-sm-3 control-label" >项目属性：</label>
        <div class="col-sm-4">
            <div class="input-group" ng-repeat="item in items">
                <div class="input-group-addon" >{{item.itemDesc}}</div>
                <input class="form-control" ng-model="item.value">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" >项目环境变量：</label>
        <div class="col-sm-9">
        <table class="table table-striped border-less m0">
            <tbody>
            <tr ng-repeat="vs in vars | filter: {envId: env.id}" ng-class="{warning: vs.name.indexOf('t_') === 0}">
                <td class="col-sm-4" style="vertical-align: middle">
                    <input class="form-control" ng-if="mode == 'edit'" ng-disabled="vs.name.indexOf('t_') === 0" ng-model="vs.name" name="{{vs.name}}" maxlength="200" required/>
                    <span ng-if="mode != 'edit'">{{vs.name}}</span>
                </td>
                <td class="col-sm-4" style="vertical-align: middle">
                    <input class="form-control" ng-show="mode == 'edit'" ng-model="vs.value" name="{{vs.value}}" maxlength="200" required/>
                    <span ng-show="mode != 'edit'">{{vs.value}}</span>
                </td>
                <td>
                    <button ng-show="mode != 'edit'" ng-click="editVar(this)"><span class="glyphicon glyphicon-edit"></span></button>
                    <button ng-show="mode == 'edit'" ng-click="this.mode = null;" ><span class="glyphicon glyphicon-ok"></span></button>
                    <button ng-if="vs.name.indexOf('t_') !== 0" ng-click="deleteVar(vs)"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
            </tr>
            </tbody>
            <tfoot ng-init="v = { name: '', value: '', envId: env.id}">
            <tr>
                <td class="text-right col-sm-4" style="padding-left: 0">
                    <input type="text" class="form-control" name="varName" ng-model="v.name" ng-maxlength="200" placeholder="变量名" ng-pattern="/^(?!t_).*$/i" >
                </td>
                <td class="col-sm-4" style="padding-left: 0">
                    <input type="text" class="form-control" name="varValue" ng-model="v.value" ng-maxlength="200" placeholder="变量值">
                </td>
                <td>
                    <button type="button" ng-click="addVar(v)"  ng-disabled="varForm.$invalid" class="btn btn-success glyphicon glyphicon-saved"></button>
                </td>
            </tr>
            <tr>
                <td class="col-sm-4">
                    <div ng-show="varForm.varName.$invalid" class="has-error mt-16">
                        <span ng-show="varForm.varName.$error.required" class="control-label">请输入变量名</span>
                        <span ng-show="varForm.varName.$error.unique" class="control-label">变量名重复</span>
                        <span ng-show="varForm.varName.$error.maxlength" class="control-label">变量名超过长度</span>
                        <span ng-show="varForm.varName.$error.pattern" class="control-label">变量名格式错误</span>
                    </div>
                </td>
                <td class="col-sm-4">
                    <div ng-show="varForm.varValue.$invalid" class="has-error mt-16">
                        <span ng-show="varForm.varValue.$error.required" class="control-label">请输入变量值</span>
                        <span ng-show="varForm.varValue.$error.maxlength" class="control-label">变量值超过长度</span>
                        <span ng-show="varForm.varValue.$error.pattern" class="control-label">变量值不能有冒号和逗号</span>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            </tfoot>
        </table>
        </div>
    </div>

    <div class="form-group" ng-if="project.id && env.id" has-project-safe="{{project.id}}" has-env="{{env.id}}" ng-show="hasProjectSafe_ || hasEnv_">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-success" ng-click="saveOrUpdate(project)" ng-disabled="varForm.$invalid"> 保 存 </button>
        </div>
    </div>

</form>