<div style="height: 8px;"></div>

<form class="form-inline" role="form">
    <div class="form-group pl8">
        <select chosen search-contains="true" ng-change="changeVersion(versionId)"
                class="form-control" style="width:300px;" ng-model="versionId" ng-options="v.id as v.vs for v in versions">
            <option value="">---------------- 选择版本 ----------------</option>
        </select>
    </div>

    <div class="form-group " ng-show="versionId > 0" >
        <button ng-disabled="isAction('upload')" ng-click="setAction('upload')" type="button" class="btn btn-default"><i class="glyphicon glyphicon-upload"></i>上传</button>
        <button ng-disabled="isAction('create')" ng-click="setAction('create')" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>新建</button>
        <button ng-disabled="isAction('copy')" ng-click="setAction('copy')" type="button" class="btn btn-default">一键拷贝</button>
        <button ng-disabled="isAction('gen')" ng-click="genTemplateConf()" type="button" class="btn btn-default">生成模板</button>
        <a ng-click="setAction('list')" class="btn">返回列表</a>
    </div>

    <div class="form-group" ng-show="versionId == 0" >
        <a ng-click="setAction('list')" class="btn">返回列表</a>
    </div>
</form>

<div style="height: 8px;"  class="clearfix"></div>

<div ng-if="versionId >= 0">
    <conf-list ng-if="isAction('list')"></conf-list>
    <conf-detail ng-if="isAction('detail')"></conf-detail>
    <conf-edit ng-if="isAction('edit')"></conf-edit>
    <conf-create ng-if="isAction('create')"></conf-create>
    <conf-copy ng-if="isAction('copy')"></conf-copy>
    <conf-upload ng-if="isAction('upload')"></conf-upload>
</div>

