<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" ng-click="$state.go('^')">返回</button>
    <h1 class="pull-left m0">区域{{$stateParams.id ? "修改" : "添加"}}</h1>
</div>

<form name="form" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="name" class="col-sm-3">区域：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="area.name" name="name" id="name" ng-maxlength="30" placeholder="区域名称" required>
        </div>
        <div ng-show="form.name.$dirty && form.name.$invalid" class="has-error">
            <span ng-show="form.name.$error.required" class="control-label">请输入区域名称</span>
            <span ng-show="form.name.$error.pattern" class="control-label">无效的区域名称</span>
            <span ng-show="form.name.$error.maxLength" class="control-label">超过长度</span>
            <span ng-show="form.name.$error.exists" class="control-label">该区域已经存在，请换一个名称</span>
        </div>
    </div>
    <div class="form-group">
        <label for="syndicName" class="col-sm-3">区域syndic名称：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="area.syndicName" name="syndicName" id="syndicName" ng-maxlength="30" placeholder="区域syndic名称" required>
        </div>
        <div ng-show="form.name.$dirty && form.name.$invalid" class="has-error">
            <span ng-show="form.name.$error.required" class="control-label">请输入区域syndic名称</span>
            <span ng-show="form.name.$error.maxLength" class="control-label">超过长度</span>
        </div>
    </div>
    <div class="form-group">
        <label for="syndicIp" class="col-sm-3">区域syndic ip：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="area.syndicIp" name="syndicIp" id="syndicIp" ng-maxlength="30" placeholder="区域syndic ip" required>
        </div>
        <div ng-show="form.name.$dirty && form.name.$invalid" class="has-error">
            <span ng-show="form.name.$error.required" class="control-label">请输入区域syndic ip</span>
            <span ng-show="form.name.$error.maxLength" class="control-label">超过长度</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <button class="btn btn-success" ng-click="saveOrUpdate(area)" ng-disabled="form.$invalid"> 保 存 </button>
            <button ng-if="$stateParams.id" class="btn btn-link" ng-click="reset()" ng-disabled="isUnchanged(area)" >重置</button>
        </div>
    </div>
</form>