<div class="page-header clearfix">
    <h1 class="pull-left m0">配置文件</h1>
</div>

<h3 class="text-muted">{{project.name}} : {{version.vs}}</h3>
<ul class="nav nav-tabs" role="tablist">
    <li ng-class="{active: e.id == env.id}" ng-model="env" ng-repeat="e in envs">
        <a ng-if="e.level == 'unsafe'" ui-sref="conf.project.version.conf.list({eid: e.id})">{{e.name}}</a>
        <a ng-if="e.level == 'safe'" has-project-safe="{{project.id}}" ng-show="hasProjectSafe_" ui-sref="conf.project.version.conf.list({eid: e.id})">{{e.name}}</a>
    </li>
</ul>

<div ui-view="conf-info"></div>