<div class="col-md-offset-0 main">
    <div class="page-header clearfix">
        <h1 class="pull-left" style="margin: 0;">项目依赖</h1>
        <button class="btn btn-primary pull-right" back-button>返回</button>
    </div>

    <div>
        <div ui-tree="options" data-drag-enabled="false">
            <ol ui-tree-nodes ng-model="groups">
                <li ng-repeat="group in groups " ui-tree-node>
                    <div class="group-title angular-ui-tree-handle">
                        <div>&nbsp;{{group.name}}</div>
                    </div>
                    <ol ui-tree-nodes ng-model="group.dependency">
                        <li ng-repeat="d in group.dependency" ui-tree-node>
                            <div class="category-title angular-ui-tree-handle">
                                <a href="" class="btn btn-danger btn-xs pull-right" ng-show="d.canRemove"  ng-click="removeDependency(group, d)"><i class="glyphicon glyphicon-remove"></i></a>
                                <div>
                                    &nbsp;{{d.name}}
                                </div>
                            </div>
                        </li>
                    </ol>
                    <ol class="angular-ui-tree-nodes">
                        <li class="angular-ui-tree-node">
                            <div class="category-title angular-ui-tree-handle">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="project" ng-options="p.name for p in projects">
                                            <option value="">-- 选择项目 --</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default" ng-click="addDependency(group, project)">增加依赖</button>
                                </form>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>

