<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" back-button>返回</button>
    <h1 class="pull-left m0">项目{{$stateParams.id ? "修改" : "添加"}}</h1>
</div>

<form name="form" class="form-horizontal" novalidate>

    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">项目名称：</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="project.name" name="name" id="name" ng-maxlength="200" placeholder="必填，中英文和数字" required>
        </div>
        <div ng-show="form.name.$dirty && form.name.$invalid" class="has-error">
            <span ng-show="form.name.$error.required" class="control-label">请输入项目名称</span>
            <span ng-show="form.name.$error.pattern" class="control-label">无效的项目名称</span>
            <span ng-show="form.name.$error.maxlength" class="control-label">超过长度</span>
            <span ng-show="form.name.$error.exists" class="control-label">该项目已存在，请换一个</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">模板：</label>
        <div class="col-sm-3">
            <select ng-change="change(project.templateId)" name="templateId" id="templateId" class="form-control" ng-model="project.templateId" ng-options="o.id as o.name for o in templates" required>
                <option value="">-- 选择模板 --</option>
            </select>
        </div>
        <div ng-show="form.templateId.$dirty && form.templateId.$invalid" class="has-error">
            <span ng-show="form.templateId.$error.required" class="control-label">请选择项目模板</span>
        </div>
    </div>

    <div class="form-group" ng-if="items">
        <label class="col-sm-3 control-label">项目属性：</label>
        <div class="col-sm-5">
            <div class="input-group" ng-repeat="item in items">
                <div class="input-group-addon" >{{item.itemName}}</div>
                <input class="form-control" ng-model="item.value">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <button class="btn btn-success" ng-click="saveOrUpdate(project)" ng-disabled="form.$invalid"> 保 存 </button>
            <button ng-if="$stateParams.id" class="btn btn-link" ng-click="reset()" ng-disabled="isUnchanged(project)" >重置</button>
        </div>
    </div>
</form>