<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" ui-sref="conf.project.create">新增</button></td>
    <h1 class="pull-left m0">项目管理</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-centered">
        <div class="input-group">
            <span class="input-group-addon">搜索</span>
            <input ng-model="searchText" type="text" class="form-control" placeholder="输入项目信息可快速检索"/>
        </div>
        <div class="text-right" style="margin: 5px 20px 0 0">
            <!--
            <a class="a-underline" href="#">高级搜索</a>
            |-->
            <a class="a-underline" ui-sref="api">API指南</a>
            |
            <a class="a-underline" ui-sref="help">帮助文档</a>
        </div>
    </div>
</div>

<h3 class="text-muted">搜索结果
<button ui-sref="conf.project.my" ui-sref-opts="{reload: true}" type="button" class="btn btn-xs btn-primary" >我的项目</button>
</h3>

<div class="table-responsive">
    <table class="table table-striped table-hover table-fixed">
        <thead>
            <tr>
                <th width="10%">项目编号</th>
                <th width="20%">项目名称</th>
                <th width="10%">项目模板</th>
                <th width="25%">最近版本</th>
                <th width="25%">最近版本时间</th>
                <th ng-show="user.role == 'admin'">操作</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects | filter:searchText">
            <td><a ui-sref="conf.project.version({id: project.id})">{{project.id}}</a></td>
            <td><a tooltip="{{project.name}}" ui-sref="conf.project.detail({id: project.id})">{{project.name}}</a></td>
            <td>
                <template-show tid="{{project.templateId}}"></template-show>
            </td>
            <td class="show">
                <a tooltip="{{project.lastVersion}}" ui-sref="conf.project.version.conf.list({id: project.id, vid: project.lastVid, eid: envId})" class="a-underline">{{project.lastVersion}}</a>
                &nbsp;
                <div class="btn-group" dropdown ng-if="project.subTotal > 0">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" ng-click="vs_all(project.id)">
                        All ({{project.subTotal}}) <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="version in versions"><a ui-sref="conf.project.version.conf.list({id: project.id, vid: version.id, eid: envId})">{{version.vs}}</a></li>
                    </ul>
                </div>
            </td>
            <td><span tooltip="{{project.lastUpdated | date:'yyyy-MM-dd HH:mm:ss'}}">{{project.lastUpdated | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
            <td ng-show="user.role == 'admin'">
                <a ui-sref="conf.project.edit({id: project.id})" title="修改"><span class="glyphicon glyphicon-edit"></span></a>
                <a ng-click="delete(project.id, $index)" href="" title="删除"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-init="col = user.role == 'admin' ? 6 : 5">
            <td colspan="{{col}}">&nbsp;</td>
        </tr>
        </tfoot>
    </table>

    <ng-include src="'partials/page.html'"></ng-include>

</div>