<div class="row">
    <div class="col-sm-6 col-centered">
        <div class="input-group">
            <input ng-model="search_text" type="text" class="form-control" placeholder="输入项目信息可快速检索"/>
            <span class="input-group-btn"><button ui-sref="conf.project({search_text: search_text})" class="btn btn-default" type="button">搜 索</button></span>
        </div>
        <div class="text-right" style="margin: 5px 70px 0 0">
            <a class="a-underline" href="#">高级搜索</a>
            |
            <a class="a-underline" href="#">API指南</a>
            |
            <a class="a-underline" href="#">帮助文档</a>
        </div>
    </div>
</div>