/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 20px;*/
    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 50px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 0;
}

#footer > .container {
    padding: 3px 0 0 0;
    color: #999;
    font-size: 12px;
}
#footer .license {
    float: right;
}
#footer a {
    color: #666;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

code {
    font-size: 80%;
}

.hand {
    cursor: pointer;
}
.disp-row {
    display: table-row;
}
.disp-hid {
    display: none;
}
.lead{margin-bottom:18px;font-size:14px;font-weight:200;line-height:1.4}
.p0 {padding: 0}
.pl8{padding-left: 8px;}
.m0 {
    margin: 0;
}
.b0 { border: none}
.pt0{ padding-top: 0}
.pt10{ padding-top: 10px;}
.m15 { margin: 15px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.mtb15{ margin: 15px 0}
.font48 { font-size: 48px;}
.mt-16 { margin-top: -16px; }
.mod { color: #999}
.blue { color: #428bca}
.red {color: #ff0000}
.fwn{ font-weight: normal;}
.width300 { width: 300px;}
.width250 { width: 250px;}
.width-ip { width: 50px; }
span.header-version {
    font-size: small;
}
.table-fixed {
    table-layout: fixed;
}

.table-fixed>tbody>tr>td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-fixed .show {
    overflow: visible;
}
.vshow {
    visibility: visible;
}

.horizonal{
    width: 100%;
    vertical-align: top;
    letter-spacing: -4px;
    padding-left: 0;
}
.horizonal > li{
    display: inline-block;
    width: 20%;
    letter-spacing: 0;
    margin: 1px;
}

.progress-mb{
    margin-bottom: 0;
    width:100%;
    height:3px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}
.a-underline {
    text-decoration: underline;
}
.ace_editor { height: 400px; }

.avatar {
    float: left; 
    margin-right: 12px;
    width: 90px;
    height: 90px;
}
.user-show-username {
    font-size: 36px;
    font-weight: 200;
    color: #666;
}

.tooltip-inner {
    word-wrap:break-word;
    white-space:pre-wrap;
}

header .tooltip-inner {
    word-wrap:normal;
    white-space:nowrap;
}

header .title{border-left: 1px solid #575D67;position:relative;float:left;margin:0;padding-left:15px;color:#fff;font-size:16px;line-height:50px;font-weight:normal;display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:top;white-space:nowrap;max-width:37%}
header .profile-pic{position:relative;top:-1px;padding-right:0px !important}
header .profile-pic icon-identicon canvas{width:26px; height:26px; vertical-align:middle;}
header .navbar-nav.navbar-right:last-child {
    margin-right:0px;
}
header .navbar-nav>li>a {
    padding: 0 10px 0 10px;
    line-height: 50px;
    vertical-align: middle;
}
header .logo {height: 50px;}

.member-list ul {
    margin-top: -20px;
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    font-size: 0;
    padding:0;
}
.member-list .pic {
    margin-bottom: 5px;
}
.member-list li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 75px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
}
.member-list .name {
    clear: both;
}
.u_actions { display:inline-block;*display:inline;zoom:1;vertical-align:middle; }
.gact a:visited, a.gact:visited {
    color: #bbb;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}
.word-list {
    overflow: auto;

}
.word-list-item {
    word-break:break-all;
    position: static;
}

.well-list{margin:0;padding:0;list-style:none}
.well-list li{padding:10px 15px;min-height:20px;border-bottom:1px solid #eee;border-bottom:1px solid rgba(0,0,0,0.05)}
.well-list li:after{content:" ";display:table;clear:both}
.well-list li.disabled{color:#888}
.well-list li.unstyled:hover{background:none}
.well-list li.warning-row{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}
.well-list li.smoke{background-color:#f5f5f5}
.well-list li:hover{background:#ffecdb;border-bottom:1px solid #ffd1a8}
.well-list li:last-child{border-bottom:none}
.well-list li:last-child.bottom{background:#f5f5f5}

.event-item{padding:12px 0px;border-bottom:1px solid #eee}
.event-item:last-child {border: none;  }
.event-item .event-item-timestamp{float:right;color:#999;line-height:22px}
.event-item .event-title{display:inline-block;overflow:hidden;text-overflow:ellipsis;vertical-align:top;white-space:nowrap;max-width:72%;color:#333;font-weight:normal;font-size:14px}
.event-item .event-body{margin-left:35px;margin-right:100px; color:#666; word-wrap:break-word; }

.brand-image {
    text-align: center;
}
.brand-image img {
    height: 460px;
}
.brand_text {
    text-align: right;
}
/* growl*/
.growl {
    position: fixed;
    top: 60px;
    right: 10px;
    float: right;
    width: 250px;
    z-index: 10000;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.growl-item.ng-enter,
.growl-item.ng-leave.ng-leave-active {
    opacity:0;
}
.growl-item.ng-leave,
.growl-item.ng-enter.ng-enter-active {
    opacity:1;

}
/* file upload */

.upload-button {
    width: 135px;
    Height: 30px;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    background: #CCC;
    appearance: button;
    -moz-appearance: button; /* Firefox */
    -webkit-appearance: button; /* Safari and Chrome */
}

.sel-file {
    padding: 1px 5px;
    font-size: smaller;
    color: grey;
}

.sel-file img {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.response {
    padding-top: 30px;
}

.response>ul {
    /*list-style-type: decimal;*/
}

.response li, .response .reqh {
    color: blue;
    /*font-size: smaller;*/
    padding-bottom: 5px;
}

.upload-progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.upload-progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 15px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}

/* for IE*/
.js-fileapi-wrapper {
    display: inline-block;
    vertical-align: middle;
}

button {
    padding: 1px 5px;
    font-size: smaller;
    margin: 0 3px;
}

.dropdown-menu {
    min-width: 180px;
    max-height: 300px;
    overflow: auto;
}
li.item {
    position: relative;
    display: block;
    padding: 5px;
    /*margin-bottom: -1px;*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
li.item:last-child {
    border-bottom: 0;
}
li.item:hover,
li.item:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}
li.item > .badge {
    background-color: #fff;
    float: right;
}
li.item > .badge + .badge {
    margin-right: 5px;
}
li.item > a {
    display: inline;
    padding: 3px;
    color: #428bca;
}
li.item > a:hover,
li.item > a:focus {
    color: #428bca;
    text-decoration: underline;
    background-color: transparent;
    background-image:none;
}

.sub {
    font-size: smaller;
    color: #777;
    padding-top: 5px;
    padding-left: 10px;
}

.err {
    font-size: 12px;
    color: #C53F00;
    margin: 15px;
    padding: 15px;
    background-color: #F0F0F0;
    border: 1px solid black;
}

.star {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/star.png) no-repeat;
    width: 16px; /* Width of new image */
    height: 16px; /* Height of new image */
    padding-left: 0px; /* Equal to width of new image */
}

/*
ui.tree
*/
.angular-ui-tree-handle {
    /*background: #f8faff;*/
    /*border: 1px solid #dae2ea;*/
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    /*color: #438eb9;*/
    /*background: #f4f6f7;*/
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/*.overflow-true{*/
    /*overflow: scroll;*/
/*}*/

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


.bs-callout {
    padding:20px;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius:3px
}
.bs-callout h1 {
    font-size: 28px;
    margin-top:0;
    margin-bottom:5px;
}
.bs-callout hr {
    margin: 10px 0;
}
.bs-callout table {
    width: auto;
}
.bs-callout p:last-child {
    margin-bottom:0
}
.bs-callout code {
    border-radius:3px
}
.bs-callout+.bs-callout {
    margin-top:-5px
}
.bs-callout-danger {
    border-left-color:#428bca
}

/*jsdiff*/
table.diff, table.inlinediff {
    width: 100%;
}


/* bootstrap */
table.tablesorter .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000000 transparent;
    visibility: hidden;
}
table.tablesorter .headerSortUp, table .headerSortDown {
    background-color: #f7f7f9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table.tablesorter .header:hover:after {
    visibility: visible;
}
table.tablesorter .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}
table.tablesorter .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.main .my-wrapper-div {
    border: solid red 0px;
    overflow: auto;
    height:500px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* custom */
.border-less>tbody>tr>td,
.border-less>tfoot>tr>td{
    border-top: none;
}

.pagination>li>a {
    cursor: pointer;
}
.pagination>pre {
    padding: 6px 12px;line-height: 20px;
}
.msg,.errmsg{padding:3px 24px 3px;*padding:5px 24px 4px;color:#fff;height:20px;line-height:18px;border-radius:3px}.msg{background:#68af02;*border-bottom:2px solid #68af02;z-index:99}.errmsg{background:#ef8f00;*border-bottom:2px solid #ef8f00;z-index:99}.errmsg a{color:#FFF}.errmsg a:link,.errmsg a:visited,.errmsg a:active,.errmsg a:hover{color:#FFF}

.brand-holder {border-right: 1px solid #EEE;}
.footer-links a{margin-right:15px}
.login-box .login-heading h3{font-weight:300;line-height:2}
.login-box .form-control{background-color:#F5F5F5;font-size:16px;padding:14px 10px;width:100%;height:auto}
.login-box .form-control.top{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;margin-bottom:0px}
.login-box .form-control.bottom{-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-ms-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;border-top:0;margin-bottom:20px}
.login-box .btn{padding:12px !important}

/* Have to set height explicity on ui-view to prevent collapsing during animation
.well[ui-view]{
    height: 65px;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}
*/


/* chosen-bootstrap */

select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}


/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
    -moz-transition: 350ms linear all;
    -o-transition: 350ms linear all;
    transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
    opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
    opacity: 1;
}

#loading-bar .bar {
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;

    background: #29d;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 2px;
    opacity: .45;
    -moz-box-shadow: #29d 1px 0 6px 1px;
    -ms-box-shadow: #29d 1px 0 6px 1px;
    -webkit-box-shadow: #29d 1px 0 6px 1px;
    box-shadow: #29d 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon {
    width: 14px;
    height: 14px;

    border:  solid 2px transparent;
    border-top-color:  #29d;
    border-left-color: #29d;
    border-radius: 10px;

    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
    0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
    0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
    0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
    0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}