/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /* Move down content because we have a fixed navbar that is 50px tall */
    padding-top: 50px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

#footer-button {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    margin-bottom: 60px;
    padding-top: 50px;

}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.p0 {padding: 0}
.m0 {
    margin: 0;
}
.b0 { border: none}
.m15 { margin: 15px;}
.mt15{ margin-top: 15px;}
.mtb15{ margin: 15px 0}
.mt-16 {
    margin-top: -16px;
}
span.header-version {
    font-size: small;
}
.table-fixed {
    table-layout: fixed;
}

.table-fixed>tbody>tr>td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-fixed .show {
    overflow: visible;
}

.horizonal{
    width: 100%;
    vertical-align: top;
    letter-spacing: -4px;
    padding-left: 0;
}
.horizonal > li{
    display: inline-block;
    width: 20%;
    letter-spacing: 0;
    margin: 1px;
}
.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.progress-mb{
    margin-bottom: 0;
    width:90%;
    height:3px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}
.a-underline {
    text-decoration: underline;
}
.ace_editor { height: 400px; }


.tooltip-inner {
    word-wrap:break-word;
    white-space:pre-wrap;
}

/* file upload */

.upload-button {
    width: 135px;
    Height: 30px;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    background: #CCC;
    appearance: button;
    -moz-appearance: button; /* Firefox */
    -webkit-appearance: button; /* Safari and Chrome */
}

.sel-file {
    padding: 1px 5px;
    font-size: smaller;
    color: grey;
}

.sel-file img {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.response {
    padding-top: 30px;
}

.response>ul {
    /*list-style-type: decimal;*/
}

.response li, .response .reqh {
    color: blue;
    /*font-size: smaller;*/
    padding-bottom: 5px;
}

.upload-progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.upload-progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 15px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}

.drop-box.dragover-err {
    border: 5px dashed red;
}

/* for IE*/
.js-fileapi-wrapper {
    display: inline-block;
    vertical-align: middle;
}

button {
    padding: 1px 5px;
    font-size: smaller;
    margin: 0 3px;
}


.sub {
    font-size: smaller;
    color: #777;
    padding-top: 5px;
    padding-left: 10px;
}

.err {
    font-size: 12px;
    color: #C53F00;
    margin: 15px;
    padding: 15px;
    background-color: #F0F0F0;
    border: 1px solid black;
}

.star {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/star.png) no-repeat;
    width: 16px; /* Width of new image */
    height: 16px; /* Height of new image */
    padding-left: 0px; /* Equal to width of new image */
}

/*
ui.tree
*/
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/*.overflow-true{*/
    /*overflow: scroll;*/
/*}*/

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


.bs-callout {
    padding:20px;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius:3px
}
.bs-callout h1 {
    font-size: 28px;
    margin-top:0;
    margin-bottom:5px;
}
.bs-callout hr {
    margin: 10px 0;
}
.bs-callout table {
    width: auto;
}
.bs-callout p:last-child {
    margin-bottom:0
}
.bs-callout code {
    border-radius:3px
}
.bs-callout+.bs-callout {
    margin-top:-5px
}
.bs-callout-danger {
    border-left-color:#428bca
}

/*jsdiff*/
table.diff, table.inlinediff {
    width: 100%;
}


/* bootstrap */
table.tablesorter .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000000 transparent;
    visibility: hidden;
}
table.tablesorter .headerSortUp, table .headerSortDown {
    background-color: #f7f7f9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table.tablesorter .header:hover:after {
    visibility: visible;
}
table.tablesorter .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}
table.tablesorter .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
.page-sum {
    display: none;
}
@media (min-width: 768px) {
    .page-sum {
        display: block;
    }
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
.nav-sidebar > .active > a:hover {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.main .my-wrapper-div {
    border: solid red 0px;
    overflow: auto;
    height:500px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/* custom */
.border-less>tbody>tr>td,
.border-less>tfoot>tr>td{
    border-top: none;
}

.pagination>li>a {
    cursor: pointer;
}
.pagination>pre {
    padding: 6px 12px;line-height: 20px;
}
.msg,.errmsg{padding:3px 24px 3px;*padding:5px 24px 4px;color:#fff;height:20px;line-height:18px;border-radius:3px}.msg{background:#68af02;*border-bottom:2px solid #68af02;z-index:99}.errmsg{background:#ef8f00;*border-bottom:2px solid #ef8f00;z-index:99}.errmsg a{color:#FFF}.errmsg a:link,.errmsg a:visited,.errmsg a:active,.errmsg a:hover{color:#FFF}

/* Have to set height explicity on ui-view to prevent collapsing during animation*/
.well[ui-view]{
    height: 65px;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}