<div class="col-md-offset-0 main">
    <div class="page-header clearfix">
        <div class="form-group pull-left col-xs-6 p0">
            <input type="text" ng-model="searchText.name" class="form-control" placeholder="在这里输入项目名称，可快速检索">
        </div>
        <!--<button class="btn btn-primary pull-right" ng-click="changeProjects()">{{projectListName}}</button>-->
    </div>

    <div class="tabs">
        <ul class="nav nav-tabs">
            <li ng-class="activeTab(env.id)" ng-click="chooseEnv(env.id)" ng-repeat="env in envs"><a href="">{{env.name}}</a></li>
        </ul>
    </div>
    <br/>
    <accordion close-others="true">
        <accordion-group ng-repeat="pro in projectStatus|filter:searchText">
            <accordion-heading>
                <span class="hand" ng-click="showVm(pro.id)">{{pro.name}}</span>
            </accordion-heading>

            <!-- Project Tabs -->
            <project-tabs></project-tabs>
        </accordion-group>
    </accordion>
</div>
