<div class="col-md-offset-0 main">
    <div class="page-header clearfix">
        <div class="form-group pull-left col-xs-6 p0">
            <input type="text" ng-model="searchText.name" class="form-control" placeholder="在这里输入项目名称，可快速检索">
        </div>
        <!--<button class="btn btn-primary pull-right" ng-click="changeProjects()">{{projectListName}}</button>-->
    </div>

    <div class="tabs">
        <ul class="nav nav-tabs">
            <li ng-class="activeTab(env.id)" ng-click="chooseEnv(env)" ng-repeat="env in envs">
                <a href=""><span ng-class="{'label label-danger': env.level == 'safe' && env.id == activeEnv}">{{env.name}}</span></a>
            </li>
        </ul>
    </div>
    <br/>
    <style >
        .panel-group .panel {
            overflow: visible;
        }
    </style>
    <accordion close-others="true">
        <accordion-group ng-repeat="pro in projectStatus|filter:searchText" is-open="pro.isOpen">
            <accordion-heading>
                    <table class="table table-hover table-fixed" style="margin-bottom: 0px;">
                        <tbody style="border-top: 0px;">
                            <tr class="hand" ng-click="showVm(pro.id, useArea)">
                                <td style="border-top: 0px; padding-top: 0px; padding-bottom: 0px;" width="20%">{{pro.name}}</td>
                                <td style="border-top: 0px; padding-top: 0px; padding-bottom: 0px;" width="80%">{{pro.description}}</td>
                            </tr>
                        </tbody>
                    </table>
            </accordion-heading>
            <!-- Project Tabs -->
            <project-tabs></project-tabs>
        </accordion-group>
    </accordion>
</div>
