<div class="col-md-offset-0 main">
    <div class="page-header clearfix">
        <h1 class="pull-left" style="margin: 0;">任务管理</h1>
    </div>

    <div class="tabs">
        <ul class="nav nav-tabs">
            <li ng-class="activeTab(env.id)" ng-click="chooseEnv(env.id)" ng-repeat="env in envs"><a href="">{{env.name}}</a></li>
        </ul>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-fixed">
            <thead>
            <tr>
                <th width="15%">项目名称</th>
                <th width="10%"></th>
                <th width="60%">状态</th>
                <th width="15%">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="pro in projectStatus">
                <td>
                    {{pro.name}}
                </td>
                <td>
                    <a title="查看任务队列" ng-click="goTaskQueue(activeEnv, pro.id)" href="">
                        <span class="glyphicon glyphicon-random" style="float: right">&nbsp;{{pro.status.queueNum}}&nbsp;</span>
                    </a>
                    <a>
                        <span class="glyphicon glyphicon-time" style="float: right">&nbsp;0&nbsp;</span>
                    </a>
                </td>
                <td style="padding:10px 0px 0px 0px;">
                    <a ng-show="showHref(pro.status.status)" ng-click="goTaskLog(pro.task.id)" href="">{{pro.task.endTime}}  {{pro.status.statusTip}}!   版本号：{{pro.task.version}}   任务: {{pro.status.taskName}}</a>
                    <div>
                        <span ng-show="showProgress(pro.status.status)" >机器 {{pro.status.machine}}  {{pro.status.statusTip}} : {{pro.status.sls}} </span>

                    </div>
                    <div ng-show="showProgress(pro.status.status)" class="progress progress-mb">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{pro.status.currentNum*100/pro.status.totalNum}}%;">
                        </div>
                    </div>

                </td>
                <!-- ========================================操作======================================== -->
                <td class="show">
                    <div class="dropdown">
                        <!--<a ng-repeat="t in pro.templates" ng-class="showClass(t.versionMenu)" data-toggle="dropdown" ng-click="showClick(t.versionMenu, pro.id)" title="{{t.name}}" href="">-->
                        <a ng-repeat="t in pro.templates" class="dropdown-toggle" data-toggle="dropdown" ng-click="showClick(t.versionMenu, pro.id, t.id)" title="{{t.name}}" href="">
                            <span class="{{t.css}}"></span>
                        </a>
                        <ul class="dropdown-menu" ng-show="showVersionMenu()">
                            <li ng-repeat="vs in versions">
                                <a ng-click="deploy(pro.id, vs.id)">{{vs.vs}}</a>
                            </li>
                            <li>
                                <a ng-click="">more ...</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>