<div class="page-header clearfix">
    <h1 class="pull-left m0">系统管理</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-fixed">
        <thead>
        <tr>
            <th width="80%">操作说明</th>
            <th width="20%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span>重新加载master主干脚本。</span></td>
            <td>
                <a ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <td colspan="2">&nbsp;</td>
        </tfoot>
    </table>
</div>