<div class="page-header clearfix">
    <button ng-if="envs&&projects" class="btn btn-primary pull-right" ui-sref="admin.relation.create">绑定</button></td>
    <h1 class="pull-left m0">关系配置</h1>
</div>

<form class="form-inline" role="form" ng-submit="searchForm()">
    <div ng-if="envs" class="form-group">
        <select class="form-control" chosen ng-model="s_env" ng-options="e.id as e.name for e in envs">
            <option value="">-- 选择环境 --</option>
        </select>
    </div>
    <div class="form-group">&nbsp;&nbsp;</div>
    <div ng-if="projects" class="form-group">
        <select style="width:180px;" class="form-control" chosen search-contains="true" ng-model="s_project" ng-options="p.id as p.name for p in projects">
            <option value="">-- 选择项目 --</option>
        </select>
    </div>
    <div class="form-group">&nbsp;&nbsp;</div>
    <div class="form-group">
        <input type="text" ng-model="s_ip" class="form-control" placeholder="机器IP">
    </div>

    <button type="submit" class="btn btn-default">搜索</button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover table-fixed tablesorter">
        <thead>
        <tr>
            <th width="20%">环境</th>
            <th width="25%">项目</th>
            <th width="20%">机器名称</th>
            <th width="20%" class="header" ng-class="_sort == 'ip' ? orderBy ? 'headerSortUp' : 'headerSortDown' : ''">
                <a href="" ng-click="orderBy = !orderBy;sort('ip', currentPage - 1);">机器IP</a>
            </th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rel in relations">
            <td>
                <div ng-if="rel.envId" tooltip="{{rel.envId}}">
                    <env-show eid="{{rel.envId}}"></env-show>
                </div>
            </td>
            <td>
                <div ng-if="rel.projectId" tooltip="{{rel.projectId}}">
                    <project-show pid="{{rel.projectId}}"></project-show>
                </div>
            </td>
            <td><span tooltip="{{rel.name}}">{{rel.name}}</span></td>
            <td><span tooltip="{{rel.ip}}">{{rel.ip}}</span></td>
            <td>
                <a ng-click="unbind(rel.id, $index)" href title="解绑">解绑</a>
                <a ui-sref="admin.relation.detail({id: rel.id})" title="机器环境变量">环境变量</a>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-include src="'partials/page.html'"></ng-include>
</div>