<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" ui-sref="admin.project.create">新增</button>
    <h1 class="pull-left m0">项目管理</h1>
</div>

<form class="form-inline" role="form" ng-submit="searchForm(s_projectName, s_template)" >

    <div class="form-group">
        <input type="text" ng-model="s_projectName" class="form-control" placeholder="项目名称">
    </div>

    <div ng-if="templates" class="form-group">
        <select style="width: 200px;" class="form-control" chosen ng-model="s_template" ng-change="tempSelect(s_template)" ng-options="t.id as t.name for t in templates">
            <option value="">-- 选择模板 --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">搜索</button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover table-fixed">
        <thead>
            <tr>
                <th width="10%">编号</th>
                <th width="20%">名称</th>
                <th width="10%">模板</th>
                <th width="20%">最近版本</th>
                <th width="20%">最近版本时间</th>
                <th >操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects">
                <td>{{project.id}}</td>
                <td><a tooltip="{{project.name}}" ui-sref="admin.project.detail({id: project.id})">{{project.name}}</a></td>
                <td>
                    <template-show tid="{{project.templateId}}"></template-show>
                </td>
                <td >{{project.lastVersion}}
                    <a ui-sref="admin.project.version({id: project.id})">all
                        <span ng-if="project.subTotal != 0 ">({{project.subTotal}})</span></a>
                </td>
                <td><span tooltip="{{project.lastUpdated | date:'yyyy-MM-dd HH:mm:ss'}}">{{project.lastUpdated | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                <td>
                    <a ui-sref="admin.project.dependency({id: project.id})" title="依赖"><span class="glyphicon glyphicon-random"></span></a>&nbsp;
                    <a ui-sref="admin.project.edit({id: project.id})" title="修改"><span class="glyphicon glyphicon-edit"></span></a>
                    <a ng-click="delete(project.id, $index)" href="" title="删除"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-include src="'partials/page.html'"></ng-include>
</div>