<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" ng-click="$state.go('^')">返回</button>
    <h1 class="pull-left m0">用户添加</h1>
</div>

<form name="form" class="form-horizontal" novalidate>

    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">姓名：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="user.name" name="name" id="name" ng-maxlength="8" placeholder="必填，重复加序号" required>
        </div>
        <div ng-show="form.name.$dirty && form.name.$invalid" class="has-error">
            <span ng-show="form.name.$error.required" class="control-label">请输入姓名</span>
            <span ng-show="form.name.$error.pattern" class="control-label">无效的名称</span>
            <span ng-show="form.name.$error.maxlength" class="control-label">超过长度</span>
        </div>
    </div>

    <div class="form-group">
        <label for="jobNo" class="col-sm-3 control-label">工号：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="user.jobNo" name="jobNo" id="jobNo" ng-maxlength="10" placeholder="必填，以OF开头" required ng-pattern="/^of[0-9]{1,10}$/i">
        </div>
        <div ng-show="form.jobNo.$dirty && form.jobNo.$invalid" class="has-error">
            <span ng-show="form.jobNo.$error.required" class="control-label">请输入工号</span>
            <span ng-show="form.jobNo.$error.pattern" class="control-label">无效的工号</span>
            <span ng-show="form.jobNo.$error.maxlength" class="control-label">超过长度</span>
            <span ng-show="form.jobNo.$error.exists" class="control-label">该工号已存在，请换一个</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">角色：</label>
        <div class="col-sm-5">
            <label class="radio-inline">
                <input type="radio" name="role" id="role-user" ng-model="user.role" value="user" ng-click="user.superAdmin=false">
                普通用户
            </label>
            <label class="radio-inline" ng-if="loginUser.sa">
                <input type="radio" name="role" id="role-admin" ng-model="user.role" value="admin">
                管理员
            </label>
            <label class="checkbox-inline" ng-if="loginUser.sa">
                <input type="checkbox" name="superAdmin" id="superAdmin" ng-disabled="user.role != 'admin'" ng-model="user.superAdmin" value="option3"> 超级管理员
                <sup class="btn-info" href="" tooltip-placement="right" tooltip="当前用户必须为超级管理员!">?</sup>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">状态：</label>
        <div class="col-sm-5">
            <label class="checkbox-inline">
                <input type="checkbox" name="locked" id="locked" ng-model="user.locked" value="true"> 锁定
                <sup class="btn-info" href="" tooltip-placement="right" tooltip="锁定则不能登录!">?</sup>
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <button class="btn btn-success" ng-click="saveOrUpdate(user)" ng-disabled="form.$invalid"> 保 存 </button>
        </div>
    </div>
</form>