<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" ui-sref="conf.template.create">新增</button>
    <h1 class="pull-left m0">项目模板</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-fixed">
        <thead>
        <tr>
            <th width="10%">编号</th>
            <th width="50%">名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="template in templates">
            <td>{{template.id}}</td>
            <td><a ui-sref="conf.template.detail({id: template.id})">{{template.name}}</a></td>
            <td>
                <a ui-sref="conf.template.edit({id: template.id})" title="修改"><span class="glyphicon glyphicon-edit"></span></a>
                <a ng-click="delete(template.id, $index)" href="" title="删除"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-include src="'partials/page.html'"></ng-include>

</div>