<div class="page-header clearfix">
    <button class="btn btn-primary pull-right" ng-click="$state.go('^')">返回</button>
    <h1 class="pull-left m0">项目模板添加</h1>
</div>

<form name="form" class="form-horizontal" novalidate>

    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">模板名称：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="template.name" name="name" id="name" ng-maxlength="100" placeholder="必填，唯一" required>
        </div>
        <div ng-show="form.name.$dirty && form.name.$invalid" class="has-error">
            <span ng-show="form.name.$error.required" class="control-label">请输入模板名称</span>
            <span ng-show="form.name.$error.exists" class="control-label">名称已存在，请换一个</span>
            <span ng-show="form.name.$error.maxlength" class="control-label">超过长度</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">模板属性：</label>
        <div class="col-sm-8">
            <div ng-repeat="item in template.items">
                <input type="text" placeholder="属性名称" ng-model="item.itemName" required>
                <input type="text" placeholder="属性描述" ng-model="item.itemDesc">
                <select ng-model="item.order" ng-options="n for n in [] | range:0:9" required>
                    <option value="">顺序</option>
                </select>
                <a href="" ng-click="remove($index)">X</a>
            </div>
            <button ng-click="add()">+ 属性</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <button class="btn btn-success" ng-click="saveOrUpdate(template)" ng-disabled="form.$invalid"> 保 存 </button>
        </div>
    </div>
</form>