
<div class="navbar-text" ng-if="envs">
    <a ui-sref="conf.project.version.conf.create({id: $stateParams.id, vid: $stateParams.vid})" class="navbar-link">/ +</a>
    &nbsp; or &nbsp;
    <a href="" ng-click="openModal($stateParams.eid, $stateParams.vid)" class="navbar-link">一键拷贝</a>
</div>

<div class="clearfix"></div>

<div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-file"></span>资源文件：</div>
    <table class="table table-striped table-fixed">
        <tbody>
        <tr class="active" ng-repeat="conf in confs">
            <td width="25%"><a ui-sref="conf.project.version.conf.detail({id: $stateParams.id, vid: $stateParams.vid, cid:conf.id})">{{conf.name}}</a></td>
            <td class="text-muted">{{conf.path}}</td>
            <td class="text-muted" width="15%">{{conf.updated | timeago }}</td>
        </tr>
        </tbody>
    </table>
</div>

<style type="text/css">
    .modal-copy .modal-dialog { top: 220px; width: 400px;}
    .modal-copy .modal-dialog .modal-footer { text-align: center }
</style>

<script type="text/ng-template" id="modalCopy.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">快捷拷贝系统已有配置文件</h3>
    </div>
    <div class="modal-body">

        <form class="form-horizontal">
            <div class="form-group">
                <label for="selectVersion" class="col-sm-4 control-label">版本选择：</label>
                <div class="col-sm-8">
                    <select id="selectVersion" class="form-control" ng-model="version" ng-options="v.id as v.vs for v in versions"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">环境选择：</label>
                <div class="col-sm-8">

                    <label class="radio-inline" ng-repeat="e in envs">
                        <input type="radio" name="env" ng-model="$parent.env" value="{{e.id}}">
                        {{e.name}}
                    </label>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <div class="checkbox">
                        <label>
                            <input ng-model="override" type="checkbox"> 存在覆盖
                            <sup class="btn-info" href="" tooltip-placement="right" tooltip="拷贝方式，存在相同文件路径名则替换!">?</sup>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group has-error" style="margin-bottom: -20px;">
                <div class="col-sm-12 text-center">
                        <label class="control-label">
                            警告：将以此方式拷贝所有文件至当前环境
                        </label>
                </div>
            </div>

        </form>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确认</button>
        &nbsp;&nbsp;
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</script>