
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" ng-if="user">
                <li access-permission="user" ng-class="{active: $state.includes('conf.user')}"><a ui-sref="conf.user">用户管理</a></li>
                <li access-permission="area" ng-class="{active: $state.includes('conf.area')}"><a ui-sref="conf.area">区域管理</a></li>
                <li access-permission="env" ng-class="{active: $state.includes('conf.env')}"><a ui-sref="conf.env">环境管理</a></li>
                <li access-permission="spirit" ng-class="{active: $state.includes('conf.spirit')}"><a ui-sref="conf.spirit">网关管理</a></li>
                <li access-permission="project" ng-class="{active: $state.includes('conf.project')}"><a ui-sref="conf.project.my">项目管理</a></li>
                 <!--<li ng-class="{active: $state.includes('conf.template')}"><a ui-sref="conf.template">项目模板</a></li>-->
                <li access-permission="relation" ng-class="{active: $state.includes('conf.relation')}"><a ui-sref="conf.relation">关系配置</a></li>
                <li ng-if="user.sa" access-permission="system" ng-class="{active: $state.includes('conf.system')}"><a ui-sref="conf.system">系统配置</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ui-view autoscroll='false'></div>
        </div>
    </div>
</div>