<div class="container mt20" >

    <div class="row">
        <div class="col-md-7 brand-holder">
            <div class="brand-image hidden-sm hidden-xs">
                <img alt="Brand logo" src="/img/bugatti.png">
            </div>
            <div class="brand_text hidden-xs">
                <h3>deployment and monitoring automation platform</h3>
                <p class="lead">解决工程运维的根本问题</p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="login-box">
                <div class="login-heading">
                    <h3>登录 Bugatti</h3>
                </div>
                <div class="login-body">
                    <div class="tab-content mt15">
                        <form name="form" novalidate ng-submit="login(user)">
                            <input ng-model="user.userName" autofocus="autofocus" class="form-control top" id="username" name="username" placeholder="LDAP 账号" type="text">
                            <input ng-model="user.password" class="form-control bottom" id="password" name="password" placeholder="密码" type="password">
                            <br>
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="登录" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="footer-links">
        <a href="">Explore</a>
        <a ui-sref="help" rel="nofollow">Documentation</a>
        <a href="" rel="nofollow">About Bugatti</a>
    </div>
</div>