<div class="container mt20">

    <div class="col-md-8">
        <h3 class="page-title m0">
            <img class="avatar" ng-src="/img/avatar.png" src="/img/avatar.png">

            name


            <div class="pull-right">
                <a class="btn" href="/profile"><i class="fa fa-pencil-square-o"></i>
                    Edit Profile settings
                </a>
            </div>
            <br/>
            <span class="user-show-username">of546</span>
            <br/>
            <small>member since Dec 15, 2014</small>
        </h3>
        <div class="clearfix"></div>

        <br/>
        <h4>User Activity:</h4>
        <div class="event-block event-item">
            <div class="event-item-timestamp">
                <time class="time_ago" data-placement="top" data-toggle="tooltip" datetime="2015-03-09T09:19:26Z" title="" data-original-title="Mar 09, 2015 9:19am">2 days ago</time>
                <script>$('.time_ago').timeago().tooltip()</script>

            </div>
            <img alt="" class="avatar s24" src="http://git.dev.qianmi.com//uploads/user/avatar/2/resize600.jpg">
            <div class="event-title">
                <span class="author_name"><a href="/u/OF546">mysoko</a></span>
                <span class="event_label pushed">pushed to branch</span>
                <a href="/cicode/salt-keys/commits/master"><strong>master</strong>
                </a>at
                <a href="/cicode/salt-keys"><span class="namespace-name">cicode / </span><span class="project-name">salt-keys</span></a>
            </div>
            <div class="event-body">
                <ul class="well-list event_commits">
                    <li class="commit">
                        <div class="commit-row-title">
                            <a alt="" class="commit_short_id" href="/cicode/salt-keys/commit/6146b271743aa1109ba05a1b2b95c1242fe4e5e3">6146b271</a>
                            &nbsp;
                            Add Users.
                        </div>
                    </li>

                </ul>
            </div>

        </div>

    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">项目</div>
            <div class="panel-body">
                <ui class="well-list">
                    <li>Member</li>
                    <li></li>
                    <li></li>
                </ui>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">环境</div>
            <div class="panel-body">
                <ui class="well-list">
                    <li>Member</li>
                    <li></li>
                    <li></li>
                </ui>
            </div>

        </div>

    </div>
</div>