<div class="container mt20">

    <div class="col-md-8 mb20">
        <h3 class="page-title m0">
            <icon-identicon class="avatar" code="{{loginUser.username}}" title="{{loginUser.username}}" size="90"></icon-identicon>
            {{user.name}}
            <div class="pull-right">
                <a class="btn" ui-sref="profile.index"><i class="fa fa-pencil-square-o"></i>
                    修改个人配置
                </a>
            </div>
            <br/>
            <span class="user-show-username">{{user.jobNo}}</span>
            <br/>
            <small>{{user.role | role}}</small>
        </h3>
        <div class="clearfix"></div>

        <br/>
        <h4>最新动态:</h4>

        <div class="event-block event-item" ng-repeat="d in logData">
            <div class="event-item-timestamp">{{d.time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="event-title">
                {{d.info | info2json: 'user'}}
                <span class="small">在</span>
                {{d.info | info2json: 'ip'}}
                <span class="small">机器上执行</span>
                {{d.info | info2json: 'msg'}}
            </div>
            <div class="event-body">
                {{d.info | info2json: 'data'}}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default" ng-if="projects">
            <div class="panel-heading">项目（{{projects.length}}）</div>
            <ui class="well-list">
                <li ng-repeat="project in projects|limitTo: 5">
                    <a ui-sref="profile.project.detail({id: project.id})">{{project.name}}</a>
                </li>
                <li ng-if="projects.length > 5"><a ui-sref="profile.project">...</a></li>
            </ui>

        </div>

        <div class="panel panel-default" ng-if="envs">
            <div class="panel-heading">环境（{{envs.length}}）</div>
            <ui class="well-list">
                <li ng-repeat="env in envs | limitTo:5">
                    <a ui-sref="profile.env.detail({id: env.id})">{{env.name}}</a>
                </li>
                <li ng-if="envs.length > 5"><a ui-sref="profile.env">...</a></li>
            </ui>

        </div>

    </div>
</div>