@(siteDomain: String)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>布加迪</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.min.css"))">

        <link rel="stylesheet" href="@routes.Assets.at("css/app.css")">
        @Html(org.webjars.play.RequireJS.setup("js/app"))
        <script type="text/javascript">
        document.domain = "@siteDomain";
        </script>
    </head>
    <body>
            <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bugatti</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="home">首页</a></li>
                        <li ng-class="{active: $state.includes('conf')}" ng-show="user.permissions.length > 0 && user.role == 'user'">
                            <a ng-if="user.permissions[0]" ui-sref="{{'conf.' + user.permissions[0]}}">配置</a>
                        </li>
                        <li ng-class="{active: $state.includes('conf')}" ng-show="user.role == 'admin'">
                            <a ui-sref="conf.user">配置</a>
                        </li>
                        <li ng-class="{active: $state.includes('task')}" access-permission="task" ><a ui-sref="task">任务</a></li>
                        <li ng-if="user.sa == true" ui-sref-active="active"><a ui-sref="logs">日志</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="user.username != ''"><a>欢迎，<strong>{{user.username}}</strong></a></li>
                        <li ng-hide="user.username != ''"><a href="" ng-click="login()">登录</a></li>
                        <li ng-show="user.username != ''"><a href="" ng-click="logout()">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div ui-view autoscroll='false'></div>

        <div id="footer">
            <div class="container">
                <p class="text-muted text-right">&copy;千米网 2014.</p>
            </div>
        </div>

        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <!-- jsDiff -->
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("diffview.css"))">
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("difflib.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("diffview.js"))"></script>
    </body>
</html>