
<form name="copyForm" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="selectVersion" class="col-sm-2 control-label">版本选择：</label>
        <div class="col-sm-5">
            <select style="width: 350px;" chosen search-contains="true" id="selectVersion" class="form-control" ng-model="copyParam.target_vid" ng-options="v.id as v.vs for v in versions" required></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">环境选择：</label>
        <div class="col-sm-5">
            <label class="radio-inline" ng-repeat="e in copyEnvs">
                <input type="radio" name="env" ng-model="copyParam.target_eid" value="{{e.id}}" required>
                {{e.name}}
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <div class="checkbox">
                <label>
                    <input ng-model="copyParam.ovr" type="checkbox"> 存在覆盖
                    <sup class="btn-info" href="" tooltip-placement="right" tooltip="拷贝方式，存在相同文件路径名则替换!">?</sup>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group has-error">
        <div class="col-sm-7 text-center">
            <label class="control-label">
                警告：将以此方式拷贝所有文件至当前环境
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button class="btn btn-success" ng-click="ok(copyParam)" ng-disabled="copyForm.$invalid">确认</button>
        </div>
    </div>

</form>

