<div class="col-sm-8 p0" style="color:#666; font-weight: bold;"><span class="mod">~/</span>{{conf.path}}</div>

<div ng-if="!action" class="navbar-right btn-group btn-group-xs" has-project="{{$stateParams.id}}">
    <button ng-if="confContent.octet == false && hasProject_" ui-sref="admin.project.version.conf.edit({id: $stateParams.id, vid: $stateParams.vid, cid:conf.id})" type="button" class="btn btn-default">编辑</button>
    <button ng-if="confContent.octet == false" ui-sref="admin.project.version.conf.log({id: $stateParams.id, vid: $stateParams.vid, cid:conf.id})" type="button" class="btn btn-default">历史</button>
    <button ng-if="hasProject_" ng-click="delete(conf.id)" type="button" class="btn btn-danger" style="margin-left:15px;">删除</button>
</div>

<!-- directive -->
<div ng-if="action" class="navbar-right btn-group btn-group-xs" >
    <button ng-if="confContent.octet == false" ng-click="setAction('edit', conf.id)" type="button" class="btn btn-default">编辑</button>

    <button ng-click="delete(conf.id)" type="button" class="btn btn-danger" style="margin-left:15px;">删除</button>
</div>

<div class="clearfix"></div>

<div ng-if="conf.name && confContent.octet == false" class="col-sm-9 mt15 p0">
    <div ui-ace="{
          useWrapMode : true,
          showGutter: true,
          onLoad: aceLoaded,
          onChange: aceChanged
        }" ng-model="confContent.content" readonly="true"></div>
</div>

<div ng-if="conf.name && confContent.octet == true" class="col-sm-9 mt15 alert alert-warning">二进制文件</div>

<div class="col-sm-3">
    <div class="mt15">
        备注：<br/>
        <pre>{{conf.remark}}</pre>
    </div>

    <div class="mt15">
        操作人：<br/>
        {{conf.jobNo}}
    </div>
</div>